---
import Page from '../layouts/Page.astro'
---

<Page>
  <article>
    <div class="foreword">
      <p>
        Shape was my daily art journal from July 2006 to August 2007 (Ages
        15&ndash;17).
      </p>
      <p>
        I started the project to deepen my ability to draw vectors without
        tracing.
      </p>
      <p>Shape remains one of my most beloved things I've ever made.</p>
      <p>
        <a href="https://chromakode.com">&ndash;Max</a>
      </p>
    </div>
    <hr />
    <p><strong>shape</strong> is a daily depiction of life.</p>
    <p><strong>shape</strong> is an exploration of visual form.</p>
    <h2>shape is a diary, in black and white.</h2>
    <p><strong>shape</strong> is an Internet sketchbook.</p>
    <p><strong>shape</strong> is a practice in vector art technique.</p>
  </article>
</Page>

<style>
  .foreword {
    opacity: 0.65;
  }

  .foreword a {
    text-decoration: none;
  }

  hr {
    margin: 3em 0;
    border: 0;
    border-bottom: 1px solid #222;
  }
</style>
