---
import shapes from '../shapes.json'

export interface Props {
  page?: number
}

const { page } = Astro.props
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Shape</title>
  {
    page != null && (
      <>
        <link rel="preload" href={`/image/shape/${page}.png`} as="image" />
        {page > 1 && (
          <link
            rel="prefetch"
            href={`/page/${page - 1}`}
            data-page={page - 1}
          />
        )}
        {page < shapes.length && (
          <link
            rel="prefetch"
            href={`/page/${page + 1}`}
            data-page={page + 1}
          />
        )}
      </>
    )
  }
</head>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    for (const prefetchEl of document.querySelectorAll<HTMLLinkElement>(
      'link[rel=prefetch][data-page]',
    )) {
      const imgPrefetch = document.createElement('link')
      const { page } = prefetchEl.dataset
      const is2x = window.devicePixelRatio > 1
      imgPrefetch.rel = 'prefetch'
      imgPrefetch.href = `/image/shape/${page}${is2x ? '_2x' : ''}.png`
      document.head.appendChild(imgPrefetch)
    }
  })
</script>
